/* Local, CSP-safe web fonts for the Layout-Editor ("Anordnen") and
   Vorlagen-Studio ("Gestalten") overlay redesign. Sourced from Google Fonts
   (Chakra Petch, Barlow, JetBrains Mono — SIL Open Font License) and bundled
   locally under assets/fonts/ since the app's CSP (font-src 'self' data:
   blob:) does not allow loading remote webfont CDNs. */

@font-face {
  font-family: "Chakra Petch";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../assets/fonts/ChakraPetch-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../assets/fonts/Barlow-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../assets/fonts/Barlow-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../assets/fonts/Barlow-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../assets/fonts/Barlow-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../assets/fonts/JetBrainsMono-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../assets/fonts/JetBrainsMono-Medium.woff2") format("woff2");
}
